<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyrz.shop.domain.Guarantee">
	
	<sql id="Base_Column_List">
		GUARANTEE_ID as guaranteeId,
		GUARANTEE_NAME as guaranteeName,
		GUARANTEE_TEL as guaranteeTel
	</sql>

	<resultMap id="BaseResultMap" type="com.wyrz.shop.domain.vo.GuaranteeVo">
		<id column="GUARANTEE_ID" property="guaranteeId"/>
		<result column="GUARANTEE_NAME" property="guaranteeName"/>
		<result column="GUARANTEE_TEL" property="guaranteeTel"/>
	</resultMap>


	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<if test="guaranteeId != null and guaranteeId != '' "> and GUARANTEE_ID = #{guaranteeId}</if>
				<if test="guaranteeName != null and guaranteeName != '' "> and GUARANTEE_NAME = #{guaranteeName}</if>
				<if test="guaranteeTel != null and guaranteeTel != '' "> and GUARANTEE_TEL = #{guaranteeTel}</if>

				<if test="guaranteeIdLike != null and guaranteeIdLike !='' ">and GUARANTEE_ID like CONCAT("%",#{guaranteeIdLike},"%")</if>
				<if test="guaranteeNameLike != null and guaranteeNameLike !='' ">and GUARANTEE_NAME like CONCAT("%",#{guaranteeNameLike},"%")</if>
				<if test="guaranteeTelLike != null and guaranteeTelLike !='' ">and GUARANTEE_TEL like CONCAT("%",#{guaranteeTelLike},"%")</if>
			</trim>
		</where>
	</sql>

	<sql id="Base_limit_Clause">
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>

	<sql id="Base_OrderBy_Clause">
		<if test="sorting != null">
			order by ${sorting}
		</if>
	</sql>

	<select id="selectCount" resultType="long" parameterType="map">
		SELECT 
 			COUNT(*) 
 		FROM 
 		GUARANTEE 
		<include refid="Base_Where_Clause" />
	</select>

	<select id="select" resultMap="BaseResultMap" parameterType="map">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM GUARANTEE 
		<include refid="Base_Where_Clause" />
		<include refid="Base_OrderBy_Clause" />
		<include refid="Base_limit_Clause" />
	</select>

	<select id="selectById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT 
		<include refid="Base_Column_List" /> 
		FROM GUARANTEE 
		WHERE GUARANTEE_ID = #{guaranteeId}
	</select>

	<select id="selectByIdList" resultMap="BaseResultMap" parameterType="list">
		SELECT
		<include refid="Base_Column_List" />
		FROM GUARANTEE WHERE GUARANTEE_ID IN
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<select id="selectAllId" resultType="string">
		SELECT GUARANTEE_ID FROM GUARANTEE ORDER BY GUARANTEE_ID
	</select>

	<select id="selectIdList" resultType="string" parameterType="map">
		SELECT GUARANTEE_ID FROM GUARANTEE 
		<include refid="Base_Where_Clause" /> 
		ORDER BY GUARANTEE_ID
	</select>

	<insert id="insert" parameterType="com.wyrz.shop.domain.Guarantee">
		INSERT INTO GUARANTEE ( 
			GUARANTEE_ID,
			GUARANTEE_NAME,
			GUARANTEE_TEL
		)VALUES(
 			#{guaranteeId},
			#{guaranteeName},
			#{guaranteeTel}
		)
	</insert>

	<update id="updateByIdSelective" parameterType="com.wyrz.shop.domain.Guarantee">
		UPDATE GUARANTEE 
		<set> 
			<if test="guaranteeId != null">GUARANTEE_ID = #{guaranteeId},</if>
			<if test="guaranteeName != null">GUARANTEE_NAME = #{guaranteeName},</if>
			<if test="guaranteeTel != null">GUARANTEE_TEL = #{guaranteeTel},</if>
		</set> 
		WHERE GUARANTEE_ID = #{guaranteeId}
	</update>

	<update id="updateById" parameterType="com.wyrz.shop.domain.Guarantee">
		UPDATE GUARANTEE 
		<set> 
			GUARANTEE_ID = #{guaranteeId},
			GUARANTEE_NAME = #{guaranteeName},
			GUARANTEE_TEL = #{guaranteeTel},
		</set> 
		WHERE GUARANTEE_ID = #{guaranteeId}
	</update>

	<delete id="delete" parameterType="map">
		DELETE FROM GUARANTEE 
		<include refid="Base_Where_Clause" />
	</delete>

	<delete id="deleteById" parameterType="map">
		DELETE FROM GUARANTEE WHERE GUARANTEE_ID = #{guaranteeId}
	</delete>

</mapper>